:root {
  --main-color: #0e9cc5;
  --transparent-color: #2690a294;
  --text-white-color: rgba(231, 231, 231, 0.966);
  --section-padding: 100px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style-type: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 770px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* start header */
header {
  position: absolute;
  width: 100%;
  z-index: 1000;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .container::after {
  content: "";
  height: 1px;
  position: absolute;
  bottom: 0px;
  background-color: #ffffff6e;
  width: calc(100% - 30px);
}
header .container .logo img {
  height: 89px;
}
header .container nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.toggle-btn {
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}
@media (min-width: 768px) {
  .toggle-btn {
    display: none;
  }
}
header .container nav ul {
  display: flex;
}

@media (max-width: 767px) {
  header .container nav ul {
    display: none;
  }
  header .container nav .toggle-btn:hover + ul {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 100%;
    width: 100%;
    left: 0;
    background-color: rgb(23 22 22 / 69%);
  }
  header .container nav .toggle-btn:hover + ul li a {
    padding: 15px;
  }
}
header .container nav ul a {
  text-decoration: none;
  color: var(--text-white-color);
  display: block;
  padding: 37px 10px;
  font-size: 14px;
  font-weight: 300;
  transition: 0.5s;
}

header .container nav li a.active,
header .container nav li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

header .container nav .form {
  border-left: 1px solid var(--text-white-color);
  position: relative;
  width: 40px;
  height: 26px;
  margin-left: 40px;
}
header .container nav .form i {
  color: var(--text-white-color);
  font-size: 17px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
/* end header */
/* landing page */
.landing-page {
  min-height: 100vh;
  background-color: var(--main-color);
  background-image: url("../imgs/landing-image.jpg");
  background-size: cover;
  position: relative;
}
.landing-page .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.685);
}
.landing-page .content {
  width: 50%;
  position: absolute;
  top: 60%;
  transform: translateY(-60%);
  background-color: var(--transparent-color);
  padding: 43px;
  display: flex;
  justify-content: flex-end;
  border-radius: 1px;
}
@media (max-width: 969px) {
  .landing-page .content {
    width: 60%;
  }
}

.landing-page .content .text {
  width: 395px;
  color: var(--text-white-color);
}
@media (max-width: 969px) {
  .landing-page .content {
    width: 100%;
  }
  .landing-page .content .text {
    text-align: center;
    width: 100%;
  }
}
.landing-page .content h2 {
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 26px;
  line-height: 1.5;
  text-transform: uppercase;
}
.landing-page .content p {
  line-height: 1.6;
  margin-bottom: 20px;
}
.landing-page .arrow-left,
.landing-page .arrow-right {
  position: absolute;
  top: 60%;
  color: var(--text-white-color);
  transform: translateY(-60px);
  font-size: 35px;
  cursor: pointer;
}
.landing-page .arrow-left {
  left: 20px;
}
.landing-page .arrow-right {
  right: 20px;
}
.landing-page .bullet {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.landing-page .bullet li {
  width: 23px;
  height: 23px;
  border: 1px solid var(--text-white-color);
  display: inline-block;
  border-radius: 50%;
  margin-left: 3px;
  cursor: pointer;
}
.landing-page .bullet li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* landing page */
/* Main Header */

.main-header {
  text-align: center;
  margin: 0 auto;
}
.main-header h2 {
  text-align: center;
  margin-bottom: 50px;
  position: relative;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 29px;
}
.main-header p {
  margin-bottom: 100px;
  color: #333;
  line-height: 1.5;
}
.main-header h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  height: 2px;
  width: 79px;
  background: black;
}
.main-header h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
}

/* Main Header */

/* Start Service */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
@media (min-width: 778px) {
  .services .service-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 60px 40px;
  }
}

.services .srv-box {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 778px) {
  .services .srv-box {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .services .srv-box i {
    margin-right: 0 !important;
    margin-bottom: 40px;
  }
}
.services .srv-box i {
  margin-right: 50px;
}
.services .srv-box h3 {
  color: var(--main-color);
  margin-bottom: 20px;
}
.services .srv-box p {
  line-height: 1.5;
  color: #777;
}
/* Start Service */
/* Start Design */
.design {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url("../imgs/design.jpg");
  background-size: cover;
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden;
}
@media (max-width: 920px) {
  .design .image {
    display: none;
  }
}
.design::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.685);
}
.design .image,
.design .text {
  flex: 1;
  z-index: 2;
  position: relative;
}
.design .image {
  text-align: center;
  margin-bottom: -190px;
}
.design .text {
  color: var(--text-white-color);
  background-color: var(--transparent-color);
  padding: 50px;
}
.design .text h3 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 25px;
  margin-bottom: 40px;
  line-height: 1.3;
}
.design .text ul li {
  padding: 10px 0;
}
.design .text ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  font-weight: 900;
  margin-right: 10px;
}

/* End Design */
/* start portfolio */

.portfolio {
  padding-bottom: var(--section-padding);
  padding-top: var(--section-padding);
}
.portfolio .shuffle {
  display: flex;
  justify-content: center;
}
.portfolio .shuffle li {
  text-transform: uppercase;
  padding: 10px 13px;
}
.portfolio .shuffle li.active {
  background-color: var(--main-color);
  color: white;
}
.portfolio .btn {
  text-decoration: none;
  padding: 10px 15px;
  background-color: var(--main-color);
  color: white;
  margin: 30px auto;
  display: block;
  width: fit-content;
}
.portfolio .img-container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin-top: 40px;
}
.portfolio .img-container .box {
  position: relative;
}
@media (min-width: 768px) {
  .portfolio .img-container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 1199px) {
  .portfolio .img-container .box {
    flex-basis: 25%;
  }
}
.portfolio .img-container .box:hover .caption {
  bottom: 0;
}
.portfolio .img-container .box:hover img {
  transform: rotate(1deg) scale(1.1);
}
.portfolio .img-container img {
  max-width: 100%;
  min-height: 100%;
  transition: 0.3s;
}
.portfolio .img-container .caption {
  position: absolute;
  bottom: -100%;
  left: 0;
  padding: 20px;
  transition: 0.3s;
  background-color: white;
}
.portfolio .img-container .caption h4 {
  color: var(--main-color);
  font-weight: normal;
  margin-bottom: 20px;
}
.portfolio .img-container .caption p {
  color: #777;
}

/* end portfolio */
/* start video */
.video {
  position: relative;
}
.video::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.74);
}
.video video {
  width: 100%;
}
.video .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  background-color: var(--transparent-color);
  padding: 30px 20px;
  text-align: center;
  color: white;
}
.video .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-top: 25px;
}
.video .text p {
  color: var(--text-white-color);
}
.video .text button {
  margin-top: 50px;
  color: white;
  background-color: var(--main-color);
  padding: 10px 15px;
  text-transform: uppercase;
  border: none;
}

/* end video */

/* start about */

.about {
  margin-top: var(--section-padding);
  overflow: hidden;
  text-align: center;
}
.about img {
  max-width: 100%;
  position: relative;
  bottom: -130px;
  margin-top: -290px;
}
@media (max-width: 745px) {
  .about img {
    bottom: -90px;
    margin-top: -200px;
  }
}
/* end about */
/* start statistique */
.statistique {
  background-image: url("../imgs/statistique.jpg");
  background-size: cover;
  position: relative;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.statistique::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.74);
  left: 0;
  top: 0;
}
.statistique .container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.statistique .container .statistique-item {
  background-color: var(--transparent-color);
  color: white;
  text-align: center;
  padding: 45px;
}
.statistique .container .statistique-item i {
  height: 40px;
  width: 40px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto 20px;
}
.statistique .container .statistique-item .number {
  font-size: 35px;
  font-weight: bold;
  margin: 0 0 17px;
}
.statistique .container .statistique-item p {
  font-size: 12px;
  color: var(--text-white-color);
}
@media (max-width: 586px) {
  .statistique .statistique-item {
    flex-basis: 100%;
  }
}
@media (min-width: 587px) {
  .statistique .statistique-item {
    flex-basis: 50%;
  }
}
@media (min-width: 842px) {
  .statistique .statistique-item {
    flex-basis: 25%;
  }
}

/* end statistique */
/* start skills testemonials */
.our-skils {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.our-skils .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 929px) {
  .our-skils .container > div {
    flex-basis: 45%;
  }
}
.our-skils .container > div > h3 {
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
.our-skils .container > div > p {
  text-align: center;
  margin-bottom: 50px;
  color: #777;
  line-height: 1.7;
}

.testemonials .content {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
@media (max-width: 645px) {
  .testemonials .content {
    flex-direction: column;
    text-align: center;
  }
  .testemonials .content img {
    margin-left: 25px;
  }
}
.testemonials .content img {
  width: 100px;
  height: 100px;
  margin-right: 25px;
  border-radius: 50%;
}
.testemonials .content p {
  margin: 20px 0 5px;
  line-height: 1.8;
}
.testemonials .content span {
  display: block;
  text-align: right;
  color: #777;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 5px;
  font-size: 14px;
}
.testemonials .bullet {
  text-align: center;
  margin: 40px 0;
}
.testemonials .bullet li {
  width: 20px;
  height: 20px;
  border: 1px solid #777;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.testemonials .bullet li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.skills .prog-holder {
  margin: 30px 0;
}
.skills .prog-holder h4 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.skills .prog-holder .prog {
  width: 100%;
  background-color: #e8e8e8;
  height: 30px;
}
.skills .prog-holder .prog span {
  height: 100%;
  background-color: var(--main-color);
  display: block;
  position: relative;
}
.skills .prog-holder .prog span::before {
  content: attr(data-progress);
  background: black;
  color: white;
  padding: 5px;
  right: -18px;
  position: absolute;
  border-radius: 4px;
  top: -40px;
}
.skills .prog-holder .prog span::after {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: black transparent transparent transparent;
  position: absolute;
  right: -9px;
  top: -13px;
}

/* end skills testemonials */
/* start quote section */
.quote {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url("../imgs/quoteImage.jpg");
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
}
.quote::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.678);
}
.quote .container {
  position: relative;
}
.quote q {
  font-size: 30px;
  line-height: 1.3;
}
.quote p {
  margin-top: 20px;
  font-size: 13px;
}
/* end quote section */
/* start pricing section */

.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 10px;
}
.pricing .plans .plan {
  text-align: center;
  background-color: #fcfcfc;
}
.pricing .plans .plan .head {
  padding: 30px 20px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan .head h3 {
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 20px;
}
.pricing .plans .plan .head span {
  font-size: 42px;
  font-weight: bold;
}
.pricing .plans .plan .head span::before {
  content: "$";
  content: "$";
  font-size: 16px;
  top: -32px;
  position: relative;
}
.pricing .plans .plan .head span::after {
  content: "/MO";

  font-size: 16px;

  position: relative;
}
.pricing .plans .plan li {
  padding: 20px;
}
.pricing .plans .plan li:not(:last-child)::after {
  content: "";
  height: 1px;
  width: 97px;
  background-color: var(--main-color);
  position: relative;
  bottom: -23px;
  left: 50%;
  display: block;

  transform: translateX(-50%);
}
.pricing .plans .plan .footer {
  padding: 35px;
  border-top: 1px solid var(--main-color);
}
.pricing .plans .plan .footer a {
  text-decoration: none;
  padding: 10px;
  background-color: var(--main-color);
  color: white;
}
.pricing .text {
  text-align: center;
  margin-top: 45px;
}
.pricing .text p {
  color: #777;
  margin-bottom: 40px;
}
.pricing .text a {
  text-decoration: none;
  padding: 12px;
  color: white;
  background-color: var(--main-color);
}

/* end pricing section */
